<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
  </head>

  <body>
    <h1>Welcome to your profile!</h1>





    <%# Log out button %>
    <form action="/logout" method="POST">
    <p>Log out</p><input type="submit" name="Log out" value="Log out">
    </form>
  </body>
</html>
