<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
    <meta charset="UTF-8">
    <link href="<%= url('/css/users/signup.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="page">
    <form action="/users" method="POST">
    <h1>New to Sinatra Saver? Sign up below!</h1>

    <br>

    <p>Please enter your fullname: <input type="text" name="name"></p>
    <p>Please enter your email address: <input type="text" name="email"></p>
    <p>Please enter a password: <input type="password" name="password"></p>

    <input type="submit" name="Sign up" value="Sign up">
    </form>
    </div>

  <% flash.keys.each do |type| %>
      <div class="flash alerts">
        <%= flash[type] %>
      </div>
  <% end %>
  </body>
</html>