<!DOCTYPE html>
<html>
  <head>
    <title>Create goal</title>
    <meta charset="UTF-8">
    <link href="<%= url('/css/goals/new.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="page">
    <form action="/goals" method="POST">
    <h1>Create a new financial goal!</h1>

    <p>
    Please provide a name for your goal, as well as the target amount of 
    money needed to meet that goal. 
    </p>

    <p>Goal name: <input type="text" name="name"></p>
    <p>Target amount: <input type="text" name="goal_amount"></p>

    <input type="submit" name="Create goal" value="Create goal">
    </form>
    </div>

    <div class="headers">
     <ul>
      <a href="/users/<%=current_user.id%>">Return to profile page</a>
    </ul>
    </div>
  </body>
</html>